*{
background-color: rgb(0, 225, 255);
}
body{
background-color: rgb(0, 133, 178);
}
h1{
color:blue;
}
#show_sketch{
float:right
}
canvas{
border: 5px solid white;
border-radius: 20px;
animation-name: example;
animation-duration: 4s;
margin-top: 50px;
animation-iteration-count: infinite;
}
@keyframes example{
from{
box-shadow: 1px 1px 35px grey;
}
to{
box-shadow: 1px 1px 35px white;
}
}
p{
padding-top: 10px;
font-size: 25px;
}
#score{
font-size: 30px;
margin-left: 25px;
}
#time{
font-size: 30px;
float: right;
margin-right: 25px;
}
#skd{
color: white;
}